# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/0.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/ucos2nios2/.markers.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/ucos2nios2/.syncinfo.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/ucos2nios2_bsp/.markers.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.projects/ucos2nios2_bsp/.syncinfo.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
labs/lab_02_win/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
labs/lab_02_win/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
